@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<div class="jumbotron" 

    style="display: flex;
    flex-direction: column;
    align-items: center;">

    <h1 class="display-4">EYCMS</h1>
    <hr class="my-4">

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/admin" role="button">Panele giriş için tıklayın</a>
    </p>
</div>

