@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="container-fluid flex-grow-1 container-p-y">
    Bu işlem için yetkiniz bulunmamaktadır
</div>

