@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EY.CMS.CORE.DTOs.ProductDto
<div class="breadcrumb-area gradient-bg bg-cover shadow dark text-light text-center" style="background-image: url(/img/product_img/@Model.BannerImage);">
</div>

<div class="gallery-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 gallery-content">
                <div class="magnific-mix-gallery masonary">
                    <div class="gallery-items colums-2">
                        @{
                            if(ViewBag.Culture == "en-US")
                            {
                                @Html.Raw(Model.TextEN)
                            }
                            else if(ViewBag.Culture == "ru-RU")
                            {
                                @Html.Raw(Model.TextRU)
                            }
                            else
                            {
                                @Html.Raw(Model.Text)
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


