
<!DOCTYPE html>
<html lang="tr">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SEN-KA ENERJİ, dünya çapında akaryakıt, petrol, gaz,üre 42 ve enerji ürünleri ticareti konusunda uzmanlaşmış , Trabzonda kurulmuş
bir ticaret şirketidir.">

    <!-- ========== Page Title ========== -->
    <title>SEN-KA ENERJİ</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/site/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/site/css/icofont.min.css" rel="stylesheet" />
    <link href="/site/css/themify-icons.css" rel="stylesheet" />
    <link href="/site/css/flaticon-set.css" rel="stylesheet" />
    <link href="/site/css/magnific-popup.css" rel="stylesheet" />
    <link href="/site/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/site/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/site/css/animate.css" rel="stylesheet" />
    <link href="/site/css/bootsnav.css" rel="stylesheet" />
    <link href="/site/style.css" rel="stylesheet">
    <link href="/site/css/responsive.css" rel="stylesheet" />
    <link href="/site/css/custom.css?version=2.3" rel="stylesheet" />

    <!-- ========== End Stylesheet ========== -->

</head>

<body class="energy">

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>

    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")

    <script src="/site/js/jquery.min.js"></script>
    <script src="/site/js/popper.min.js"></script>
    <script src="/site/js/bootstrap.min.js"></script>
    <script src="/site/js/jquery.appear.js"></script>
    <script src="/site/js/jquery.easing.min.js"></script>
    <script src="/site/js/jquery.magnific-popup.min.js"></script>
    <script src="/site/js/modernizr.custom.13711.js"></script>
    <script src="/site/js/owl.carousel.min.js"></script>
    <script src="/site/js/wow.min.js"></script>
    <script src="/site/js/progress-bar.min.js"></script>
    <script src="/site/js/isotope.pkgd.min.js"></script>
    <script src="/site/js/imagesloaded.pkgd.min.js"></script>
    <script src="/site/js/jquery.simpleLoadMore.js"></script>
    <script src="/site/js/gsap.min.js"></script>
    <script src="/site/js/jquery.MouseMove.js"></script>
    <script src="/site/js/count-to.js"></script>
    <script src="/site/js/bootsnav.js"></script>
    <script src="/site/js/main.js"></script>

    <!-- WhatsApp ekleme -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "905323630906", // WhatsApp numarası
                call_to_action: "", // Görüntülenecek yazı
                position: "right", // Sağ taraf için 'right' sol taraf için 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- WhatsApp ekleme -->

</body>

<!-- Mirrored from validthemes.live/themeforest/dustra/solar-energy.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Aug 2022 11:04:05 GMT -->
</html>