@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<EY.CMS.CORE.DTOs.ProductDto>
<div class="breadcrumb-area gradient-bg bg-cover shadow dark text-light text-center" style="background-image: url(/site/img/banner/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Tüm Ürünler</h1>
            </div>
        </div>
    </div>
</div>

<div class="gallery-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 gallery-content">
                <div class="magnific-mix-gallery masonary">
                    <div id="portfolio-grid" class="gallery-items colums-3">
                        @foreach (var item in Model)
                        {
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="/img/product_img/@item.Image" alt="en-sa enerji" width="330" height="232">
                                    <div class="content">
                                        <div class="title">
                                            <h5 style="font-size:22px; font-weight:bold; color:white">@item.ProductName</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

