@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="container-fluid flex-grow-1 container-p-y">
    <div class="card mb-4">
        <h6 class="card-header">Ekle</h6>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label">Eski Şifre</label>
                    <input type="password" class="form-control" id="OldPassword">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label">Yeni Şifre</label>
                    <input type="password" class="form-control" id="NewPassword">
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-label">Yeni Şifre Tekrar</label>
                    <input type="password" class="form-control" id="NewPasswordConfrim">
                    <div class="clearfix"></div>
                </div>
            </div>
            <button type="button" onclick="ChangePassword()" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
</div>


<script>

    function ChangePassword() {

        var oldPassword = $("#OldPassword").val();
        var newPassword = $("#NewPassword").val();
        var newPasswordConfrim = $("#NewPasswordConfrim").val();

        if (oldPassword == "") {
            Notify("Eski şifrenizi giriniz", "error");
            return;
        }
        if (newPassword == "") {
            Notify("Yeni şifrenizi giriniz", "error");
            return;
        }
        if (newPasswordConfrim == "") {
            Notify("Şifrenizi tekrar giriniz", "error");
            return;
        }

        if (newPassword !== newPasswordConfrim) {
            Notify("Şifreler uyuşmuyor", "error");
            return;
        }

        else {
            const data = {
                OldPassword: oldPassword,
                NewPassword: newPassword
            }

            $.ajax({
                url: "/admin/Role/ChangePassword",
                type: "POST",
                data: data
            }).then(function (response) {

                if (response) {
                    Notify("Güncelleme işlemi başarılı", "success");

                    setTimeout(function () {
                        window.location.href = "/admin/Role/ChangePassword"
                    }, 2000)
                }
                else {
                    Notify("Hatalı şifre girdiniz", "error");
                }

            }).fail(function (response) {
                Notify("İşlem sırasında bir sorun oluştu", "error");
            })
        }
    }

</script>


